section {
   align-items: center;
   color: white;
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 85vh;
}

.main_text {
   align-items: center;
   display: flex;
   height: 220px;
   justify-content: center;
   width: 100%;
}

img {
   border-radius: 20px;
   width: 200px;
}

h3 {
   font-family: 'Roboto', sans-serif;
   font-size: 16px;
}

.nome {
   color: rgb(3, 218, 247);
   font-family: 'Orbitron', sans-serif;
   font-size: 25px;
}

.profit {
   color: gold;
   font-family: 'Orbitron', sans-serif;
   font-size: 18px;
}

.sobre {
   align-items: center;
   display: flex;
   flex-direction: column;
   margin-top: 3rem;
   padding: 0;
   text-align: center;
   width: 90vw;
}

.sobre span {
   color: rgb(3, 218, 247);
   font-size: 18px;
}

.icons {
   font-size: 30px;
   height: 120px;
   margin-top: 5rem;
   width: 300px;
}

h6 {
   color: gold;
}

.icons i {
   color: white;
   margin-left: 0.5rem;
   margin-right: 0.5rem;
   opacity: 0.5;
   transition: 0.9s;
}

.icons i:hover {
   color: rgb(3, 218, 247);
   opacity: 1;
}




/* 
RESPONSIVE */

@media (min-width: 550px) {
   img {
      border-radius: 30px;
      width: 200px;
   }

   section {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      height: 85vh;
   }

   .icons {
      margin-left: 1rem;
      margin-top: 1rem;
      width: auto;
   }

   .main_text {
      height: 300px;
      width: 300px;
   }

   h3 {
      font-size: 25px;
   }

   .nome {
      font-size: 30px;
   }

   .profit {
      font-size: 20px;
   }

}

@media (min-width: 1000px) {
   img {
      width: 300px;
   }

}

@media (min-width: 1300px) {
   section {
      justify-content: center;
      margin: 0;
   }

   .main_text {
      height: 500px;
      margin-right: 20vw;
   }

   h3 {
      font-size: 40px;
   }

   .nome {
      font-size: 45px;
   }

   .profit {
      font-size: 30px;
   }

   img {
      margin-top: 3rem;
      transition: 2s;
      width: 380px;
   }
}