.nav {
   display: flex;
   font-family: 'Orbitron', sans-serif;
   height: 100px;
   justify-content: space-around;
   margin: 0 auto;
   padding: 0;
   width: 100vw;
}
.nav span {
   color: rgb(0, 184, 216);
   font-weight: 800;
   padding-left: 0.5rem;
   opacity: 0.8;
   transition: 0.3s;
}
.nav span:hover {
   text-shadow: 1px 1px 25px rgb(0, 183, 255);
   opacity: 1;
}
.navbar_icon {
   background-color: #cececea6;
   font-size: 15px;
   height: 30px;
   margin: 0 1.5rem 0 0;
   padding: 0;
   width: 35px;
}
.navbar_icon:active {
   background-color: whitesmoke;
}
.offcanvas_header {
   color: rgb(3, 3, 3);
   display: flex;
   font-family: 'Orbitron', sans-serif;
   justify-content: space-between;
}
.offcanvas_header button {
   font-size: 20px;
   width: 30px;
}
.nav_link {
   color: black;
   font-family: 'Roboto', sans-serif;
   font-size: 20px;
   font-weight: 500;
   margin-bottom: 2rem;
   text-decoration: none;
}
.nav_link:hover {
   opacity: 0.6;
}
.nav_link:focus{
   opacity: 1;
   
}

@media (min-width: 576px) {
   .offcanvas_body {
      display: flex;
      margin-right: 10vw;
   }
   .nav_link {
      color: rgb(247, 247, 247);
      font-family: 'Orbitron', sans-serif;
      font-size: 18px;
      font-weight: 700;
      margin: 0 0 0 1.2rem;
      opacity: 0.2;
      transition: 0.9s;
      }
   .nav span {
      padding-left: 2rem;
   }
}