.nav {
   background-color: rgb(26, 26, 26);
   display: flex;
   font-family: 'Orbitron', sans-serif;
   height: 160px;
   margin: 0;
   padding: 0;
   width: 100vw;
}
.nav img {
   width: 120px;
}
.navbar_icon {
   background-color: #cececea6;
   border-radius: 3px;
   font-size: 18px;
   margin-right: 1.5rem;
   width: 50px;
}
.navbar_icon:active {
   background-color: linear-gradient(180deg, rgb(26, 26, 26) 50%, rgb(54,54,54) 115%);
}
.offcanvas_header {
   color: rgb(3, 3, 3);
   display: flex;
   font-family: 'Orbitron', sans-serif;
   justify-content: space-between;
}
.offcanvas_header button {
   font-size: 20px;
   width: 30px;
}
.nav_link {
   color: black;
   font-family: 'Roboto', sans-serif;
   font-size: 20px;
   font-weight: 500;
   margin-bottom: 2rem;
   text-decoration: none;
}
.nav_link:hover {
   color: #00ccff;
   opacity: 0.6;
}
.nav_link:focus{
   color: #00ccff;
   opacity: 1;
   
}

@media (min-width: 576px) {
   .offcanvas_body {
      background-color: rgb(26, 26, 26);
      display: flex;
      margin-right: 10vw;
   }
   .nav_link {
      color: rgb(247, 247, 247);
      font-family: 'Orbitron', sans-serif;
      font-weight: 700;
      margin: 0 0 0 1.5rem;
      opacity: 0.2;
      transition: 0.9s;
      }
   .nav_link:hover {
      color: #00ccff;
      opacity: 0.6;
   }
   .nav_link:focus{
      color: #00ccff;
      opacity: 1;
      
   }

}