html,
body,
#root {
   align-items: center;
   display: flex;
   flex-direction: column;
   height: 100%;
   margin: 0 auto;
   padding: 0;
   width: 100%;
}

body {
   color: white;
   background: linear-gradient(180deg, rgb(22 22 22) -30%, rgb(16 16 16) 125%);
}